# --- Arquivos manuais com senhas ---
.env
Configuracoes.h

# --- Arquivos temporários  ---
__pycache__/
*.pyc

# --- Dados e Logs do Sistema gerados automaticamente ---
mosquitto.log
mosquitto.db
config_acesso.json
analisar.txt

# --- Lixo ---
.DS_Store
Thumbs.db